@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="area_header">
    <h1>@(ViewBag.MenuName)</h1>
</div>
<div class="area_body">
    @RenderBody()
</div>
<div class="area_footer">

</div>