@{
    Layout = null;
}

<div class="footer">
    <h4>노출되는 광고는 쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다.</h4>
    <br />
    <h5 class="copyright">© 2023. LOAUP.GG | LOAUP.GG isn’t endorsed by Smilegate RPG and doesn’t reflect the views or opinions of Smilegate RPG or anyone officially involved in producing or managing Lostark.</h5>
    <h5 class="copyright">Lostark and Smilegate RPG are trademarks or registered trademarks of Smilegate RPG, Inc. Lostark © Smilegate RPG, Inc.</h5>
</div>