@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .mark {
        color: #C2C2CC;
        text-align: center;
        border: 5px solid #CeC2CC;
        border-radius: 80px;
        width: 80px;
        line-height: 80px;
        font-size: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    .searchid {
        color: #C2C2CC;
    }

    .caution {
        text-align: center;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    .backbutton {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #C2C2CC;
        border-radius: 15px;
        width: 150px;
        line-height: 30px;
    }

    .backbutton:hover {
        background-color: #C2C2CC;
    }
</style>

<script>


</script>

<div class="NoResultContainer">
    <div class="mark">
        !
    </div>
    <div class="caution searchid">
        호로롤로로로로롤야옹(검색된 이름)
    </div>

    <div class="caution">
        존재하지 않는 캐릭터이거나,
        <br />
        계정이 보호 조치되어 검색이 불가능한 상태입니다.
        <br />
        입력하신 캐릭터명을 확인해주세요.
    </div>

    <div class="backbutton">
        홈으로
    </div>
</div>